---
// import someName from '../assets/someFile.svg';
---

<div id="container">
  <main>
    <section id="text-content">
      <h1>About Me</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien
        lectus, scelerisque eu erat vel, egestas imperdiet nisl. Nulla
        vestibulum non metus id tempus. Mauris commodo commodo egestas.
        Vestibulum eu mauris mi. Suspendisse turpis urna, suscipit ac hendrerit
        quis, vestibulum ac turpis. Praesent accumsan facilisis urna, sed
        pellentesque eros sollicitudin non. Etiam posuere non mauris sed
        tincidunt. Quisque cursus nisi nisl. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas.
        Curabitur vitae rutrum nisi, eget dignissim diam. Integer sit amet
        malesuada leo, quis venenatis urna. Sed ultrices leo vitae erat
        eleifend, quis accumsan ipsum tincidunt.
      </p>
      <p>
        Aliquam erat volutpat. Nunc in lacus accumsan, rhoncus massa ut,
        consequat urna. Nullam pharetra tempor turpis at consectetur. Mauris
        congue, quam in tincidunt tincidunt, neque erat tincidunt lacus, sed
        luctus leo ligula sed mi. Ut ac orci nec nibh tincidunt efficitur.
        Maecenas id ex metus. Aenean eget diam at velit imperdiet convallis. In
        imperdiet, quam at elementum venenatis, ligula elit euismod erat,
        porttitor congue magna odio ac ligula. Quisque ullamcorper, ligula non
        blandit facilisis, arcu tellus ullamcorper nulla, eu mattis erat orci
        vel eros. Curabitur tempor sem vitae ex aliquet, ut dignissim ligula
        venenatis. Fusce vel consequat odio. Praesent vitae efficitur purus.
        Donec tincidunt erat sit amet risus feugiat congue.
      </p>
      <p>
        Maecenas quis massa arcu. Pellentesque mi enim, blandit vel diam sed,
        aliquet tincidunt urna. Sed sed commodo est, ut placerat diam. Sed
        cursus posuere nisi. Vestibulum suscipit odio eu lobortis iaculis.
        Aenean in malesuada nibh. Fusce in porttitor nisi. Morbi placerat
        hendrerit mauris, a finibus augue. Donec id odio sapien. Ut ultricies
        augue ut odio auctor, sed dignissim lorem accumsan. Ut rutrum iaculis
        euismod. Phasellus et urna et enim efficitur ullamcorper.
      </p>
      <p>
        Nullam sodales nunc quis sapien ultrices, a malesuada nibh tempor. Duis
        nibh nisi, elementum et neque vel, ultricies dignissim sapien. Morbi
        pretium laoreet pulvinar. Praesent quis ullamcorper ante, at auctor mi.
        Duis consequat purus sed consequat hendrerit. Phasellus ex est, luctus
        ut risus vel, pretium sagittis libero. Integer magna nulla, luctus sed
        egestas quis, egestas imperdiet ex.
      </p>
      <p>
        Vivamus eget magna vitae mauris laoreet dictum. Etiam non massa quis
        massa malesuada viverra. Etiam imperdiet id lacus id gravida. Duis
        mattis at massa sed viverra. Ut lacinia urna nec nunc cursus, a feugiat
        ligula semper. Duis ante mauris, feugiat ac facilisis ut, sagittis a
        est. Aenean maximus sagittis enim ut egestas. Pellentesque habitant
        morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Mauris porttitor quam quis sapien dapibus viverra. Curabitur ut semper
        nisl. Morbi volutpat commodo ipsum, a elementum nibh mollis at. Mauris a
        nulla nec nulla tincidunt interdum nec a dolor. Nunc laoreet purus
        risus, a tempus dolor gravida eu.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien
        lectus, scelerisque eu erat vel, egestas imperdiet nisl. Nulla
        vestibulum non metus id tempus. Mauris commodo commodo egestas.
        Vestibulum eu mauris mi. Suspendisse turpis urna, suscipit ac hendrerit
        quis, vestibulum ac turpis. Praesent accumsan facilisis urna, sed
        pellentesque eros sollicitudin non. Etiam posuere non mauris sed
        tincidunt. Quisque cursus nisi nisl. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas.
        Curabitur vitae rutrum nisi, eget dignissim diam. Integer sit amet
        malesuada leo, quis venenatis urna. Sed ultrices leo vitae erat
        eleifend, quis accumsan ipsum tincidunt.
      </p>
      <p>
        Aliquam erat volutpat. Nunc in lacus accumsan, rhoncus massa ut,
        consequat urna. Nullam pharetra tempor turpis at consectetur. Mauris
        congue, quam in tincidunt tincidunt, neque erat tincidunt lacus, sed
        luctus leo ligula sed mi. Ut ac orci nec nibh tincidunt efficitur.
        Maecenas id ex metus. Aenean eget diam at velit imperdiet convallis. In
        imperdiet, quam at elementum venenatis, ligula elit euismod erat,
        porttitor congue magna odio ac ligula. Quisque ullamcorper, ligula non
        blandit facilisis, arcu tellus ullamcorper nulla, eu mattis erat orci
        vel eros. Curabitur tempor sem vitae ex aliquet, ut dignissim ligula
        venenatis. Fusce vel consequat odio. Praesent vitae efficitur purus.
        Donec tincidunt erat sit amet risus feugiat congue.
      </p>
      <p>
        Maecenas quis massa arcu. Pellentesque mi enim, blandit vel diam sed,
        aliquet tincidunt urna. Sed sed commodo est, ut placerat diam. Sed
        cursus posuere nisi. Vestibulum suscipit odio eu lobortis iaculis.
        Aenean in malesuada nibh. Fusce in porttitor nisi. Morbi placerat
        hendrerit mauris, a finibus augue. Donec id odio sapien. Ut ultricies
        augue ut odio auctor, sed dignissim lorem accumsan. Ut rutrum iaculis
        euismod. Phasellus et urna et enim efficitur ullamcorper.
      </p>
      <p>
        Nullam sodales nunc quis sapien ultrices, a malesuada nibh tempor. Duis
        nibh nisi, elementum et neque vel, ultricies dignissim sapien. Morbi
        pretium laoreet pulvinar. Praesent quis ullamcorper ante, at auctor mi.
        Duis consequat purus sed consequat hendrerit. Phasellus ex est, luctus
        ut risus vel, pretium sagittis libero. Integer magna nulla, luctus sed
        egestas quis, egestas imperdiet ex.
      </p>
      <p>
        Vivamus eget magna vitae mauris laoreet dictum. Etiam non massa quis
        massa malesuada viverra. Etiam imperdiet id lacus id gravida. Duis
        mattis at massa sed viverra. Ut lacinia urna nec nunc cursus, a feugiat
        ligula semper. Duis ante mauris, feugiat ac facilisis ut, sagittis a
        est. Aenean maximus sagittis enim ut egestas. Pellentesque habitant
        morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Mauris porttitor quam quis sapien dapibus viverra. Curabitur ut semper
        nisl. Morbi volutpat commodo ipsum, a elementum nibh mollis at. Mauris a
        nulla nec nulla tincidunt interdum nec a dolor. Nunc laoreet purus
        risus, a tempus dolor gravida eu.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien
        lectus, scelerisque eu erat vel, egestas imperdiet nisl. Nulla
        vestibulum non metus id tempus. Mauris commodo commodo egestas.
        Vestibulum eu mauris mi. Suspendisse turpis urna, suscipit ac hendrerit
        quis, vestibulum ac turpis. Praesent accumsan facilisis urna, sed
        pellentesque eros sollicitudin non. Etiam posuere non mauris sed
        tincidunt. Quisque cursus nisi nisl. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas.
        Curabitur vitae rutrum nisi, eget dignissim diam. Integer sit amet
        malesuada leo, quis venenatis urna. Sed ultrices leo vitae erat
        eleifend, quis accumsan ipsum tincidunt.
      </p>
    </section>
  </main>
</div>

<style>
  #container {
    font-family:
      Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
      sans-serif;
    height: 100%;
  }
  code {
    font-family:
      ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
      "DejaVu Sans Mono", monospace;
    font-weight: 400;
    background: darkslateblue;
    color: greenyellow;
    padding: 0.2rem;
    border-radius: 0.25rem;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }

  h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #111827;
    font-size: 20px;
  }

  p {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
    }

    h1 {
      line-height: 1.5;
    }
  }
</style>
