---
import dan_daisy from "../assets/dan-daisy-cropped.jpg";
import * as aboutText from "../content/about.md";
---

<main>
  <section id="text-content">
    <h1>About</h1>
    <aboutText.Content />
    <img id="hero-img" src={dan_daisy.src} alt="A man holding a puppy" />
  </section>
</main>

<style>
  main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(0, 750px) 1fr;
    background-color: darkgray;
  }

  #text-content {
    grid-column: 2;
    padding: 3rem 5rem;
    background-color: lightgrey;
    /* */
    display: flex;
    flex-direction: column;
  }

  #hero-img {
    max-width: 300px;
    margin-top: 3rem;
    align-self: center;
  }
</style>
