<div id="wrapper">
  <header>
    <div id="header-content">
      <h1 id="title">Daniel Smedema</h1>
      <nav>
        <a href="/" class="monospaced">About</a>
      </nav>
    </div>
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <div id="footer-content"></div>
  </footer>
</div>

<style>
  :root {
    --center-column-width: minmax(0, 750px);
  }

  #wrapper {
    background-color: darkgray;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-columns: 1fr var(--center-column-width) 1fr;
  }

  header,
  footer {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr var(--center-column-width) 1fr;
  }

  header * {
    color: white;
  }

  main {
    background-color: lightgrey;
  }

  header {
    grid-area: header;
  }

  footer {
    grid-area: footer;
  }

  #header-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  header nav {
    height: 100%;
    display: flex;
    align-items: center;
  }

  #header-content,
  main,
  #footer-content {
    grid-column: 2 / 3;
  }

  nav a {
    text-decoration: none;
    padding: 10px 12px;
    background: linear-gradient(to bottom, black 33%, blue 66%);
    background-size: 100% 300%;
    background-position: top;
    transition: background-position 0.3s ease;
  }

  nav a:hover {
    background-position: bottom;
  }
</style>
